<h1>New Card</h1>
<form action="/decks/<%= @deck.id %>/cards/new" method="POST">
  <div><input type="hidden" name="card[deck_id]" value="<%= @deck.id %>"></div>
  <div>
    <label>Card Front</label>
    <input type="text" name="card[front]"/>
  </div>
  <div>
    <label>Card Back</label>
    <input type="text" name="card[back]">
  </div>
  <input type="submit" value="Create Card"/>
</form>

<a href="/decks/<%= @deck.id %>/cards/random" >Play <%= @deck.name %> Deck</a>
