<html>
  <head>
    <title>Flash Card</title>
    <style type="text/css" media="all">
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
